body {
  padding: 50px;
}

.trigger {
  width: 200px;
  height: 200px;
  border: 20px solid #999;
  background: #ddd;
}

.box {
  background: pink;
  width: 200px;
  height: 200px;
  /* transition: <property to animate on> <duration> <timing function> */
  transition: transform 300ms ease-in-out;
}

.trigger:hover .box{
  /* transforms an element (rotate, scale, translate, etc) */
  transform: translate(200px, 150px) rotate(20deg);
}